<div class="card mb-5 mb-lg-0">
    <div class="card-body">
      <h5 class="card-title text-muted text-uppercase text-center">{{priceCardData.type}}</h5>
      <h6 class="card-price text-center">{{priceCardData.price}}<span class="period">/month</span></h6>
      <hr>
      <ul class="fa-ul">
        <li><span class="fa-li"><i class="fas fa-check"></i></span>{{priceCardData.noOfUsers}}</li>
        <li><span class="fa-li"><i class="fas fa-check"></i></span>{{priceCardData.storage}}</li>
        <li><span class="fa-li"><i class="fas fa-check"></i></span>{{priceCardData.projects}}</li>
        <li><span class="fa-li"><i class="fas fa-check"></i></span>{{priceCardData.access}}</li>
      </ul>
      <div class="d-grid">
        <a href="#" class="btn btn-primary text-uppercase">Button</a>
      </div>
    </div>
  </div>